* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width:1300px) {
    [class*="col-"] {}
}

@media (max-width:1300px) {

    .last-project {
        margin: 0;
        margin-top: 15px;
    }

    .hr_mini {
        width: 70%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .container-top,
    .container-about {
        width: auto;
        margin-top: 30px;
        margin-bottom: 65px !important;
    }

    .call_social>p {
        font-size: 14px;
    }

    .p1-home>br,
    .p2-home>br {
        display: none;
    }

    .p1-home {
        font-size: 23px;
        line-height: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .p2-home {
        font-size: 18px;
        line-height: 27px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .p1-chi_sono {
        font-size: 23px;
        line-height: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .justify-without-spaces {
        white-space: nowrap;
    }

    .p2-chi_sono section {
        margin-bottom: 20px;
    }

    .p3 {
        font-size: 16px;
        padding-right: 5%;
        padding-left: 5%;
        line-height: 25px;
    }

    #hr-main {
        max-width: 100%;
    }

    .header_normal,
    .logo_home,
    .encaser_right {
        display: none;
    }

    /* MENU MOBILE */
    .header_mobile {
        display: flex;
        position: fixed;
        padding-left: 5%;
        padding-right: 5%;
    }


    .encaser_right_mobile {
        display: flex;
        height: 90px;
        width: 50px;
        position: absolute;
        right: 25px;
        font-size: 14px;
        flex-direction: row-reverse;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* SOCIAL */
    .contact {
        display: flex;
        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        font-size: 14px;
    }

    .social {
        gap: 14px;
    }

    .social span {
        font-size: 38px;
    }

    .social svg {
        height: 38px;
    }

    .fa-square-instagram,
    .fa-square-x-twitter,
    .fa-linkedin,
    .fa-square-envelope {
        color: white;
        transition: color 0.20s ease-in-out;
        opacity: 1;
    }

    .fa-square-instagram:hover,
    .fa-square-x-twitter:hover,
    .fa-linkedin:hover,
    .fa-square-envelope:hover {
        opacity: 0.8;
    }

    /* MENU */
    #navicon {
        display: block;
        position: absolute;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #navicon input {
        display: block;
        width: 60px;
        height: 90px;
        position: absolute;
        left: -5px;
        top: -10px;
        cursor: url("/img/pointer.png"), auto;
        opacity: 0;
        z-index: 2;
        -webkit-tap-highlight-color: transparent;
    }

    #navicon p {
        position: relative;
        top: 5px;
        left: 3px;
    }

    #navicon span {
        display: block;
        width: 40px;
        height: 3px;
        margin-left: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 1px 0px;
        transition: transform 0.5s ease-in-out, background 0.5s ease,
            opacity 0.55s ease;

    }

    .drawer {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        background: #000000;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .drawer ul {
        list-style-type: none;
        position: absolute;
        top: 530px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .drawer li {
        transform: translate(0, 100%);
        transition: transform 1s ease-in-out;
        list-style-type: none;
        text-align: center;
        padding: 13px;
        font-size: 32px;
    }

    .drawer li:hover {
        color: #DA0037;
    }

    .drawer img {
        width: 230px;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .active_mobile {
        background-color: #DA0037;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

    #navicon input:checked~.drawer {
        opacity: 0.9;
        visibility: visible;
    }


    #navicon input:checked~.drawer li {
        transform: translate(0, 0);
    }

    #navicon input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: -webkit-linear-gradient(300deg, #00f2ff 50%, #8c11ff 75%);
    }

    #navicon input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #navicon input:checked~span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    #navicon span:first-child,
    #navicon span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .lingua_mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sl-flag {
        width: 60px;
        height: 35px;
        cursor: url("/img/pointer.png"), auto;
    }

    /* ---------------------------- */
    main {
        margin-top: 130.5px;
        margin-bottom: 60.5px;
    }

    .footer_normal {
        height: 70px;
        margin: 0;
    }

    .wrapper .social {
        display: none;
    }

    /* PORTFOLIO */
    .indicator_title {
        margin-top: 0;
    }

    .indicator_title .cta .title,
    .indicator_title .cta .emoji {
        font-size: 30px;
        text-align: center;
    }


    /* CHI SONO  */
    .skills {
        width: 80%;
        margin: auto;
        column-count: 2;
        column-gap: 30px;
    }

    .p1-chi_sono br {
        display: inline;
    }

    .p2-chi_sono {
        line-height: 24px;
    }

    .hr-section_mini {
        width: 50%;
        margin: 5%;
    }


    /* SERVIZI */
    .container-service {
        margin-top: 15px;
    }

    .service {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        gap: 0;
    }

    .service div li {
        font-size: 20px;
    }

    .service div p {
        font-size: 18px;
        line-height: 27px;
        padding: 0;
    }

    .service div svg {
        margin-bottom: 5px;
    }


}